<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Cart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

</head>

<body>

<div th:replace="header.html :: copy"></div>

<div>
    <h2 class="text-center">Cart</h2>
</div>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Product name</th>
        <th scope="col">Image</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod,iterStat : ${cartItemsWithoutDuplicates}">
        <td class="align-middle" th:text="${prod.getName()}">Product name</td>
        <td class="align-middle">
            <img class="" src="http://placehold.it/400x250/000/fff"
                 th:attr="src='/static/img/' + ${prod.getName()} + '.jpg'" alt="" width="100px" height="100px"/>
        </td>
        <td class="align-middle" th:text="${prod.getPrice()}">Unit Price</td>
        <td>
            <form action="" method="post">
                <input class="quantity-input" type="text"
                       th:value="${cartItemsQuantities.get(prod)}" th:name="${prod.getName()}">
                <label class="quantity-input-label" th:for="${prod.getName()}"></label>
            </form>
        </td>
        <td class="align-middle" th:text="${cartItemsQuantities.get(prod) * prod.getDefaultPrice()}">Price</td>
    </tr>
    <tr>
        <td class="align-middle" colspan="4"><strong>Total Price</strong></td>
        <td class="align-middle" th:text="${totalPrice}">Price</td>
    </tr>
    </tbody>
</table>

<div class="d-flex flex-row-reverse">
    <a class="btn btn-outline-success my-2 my-sm-0" href="/checkout">Checkout</a>
</div>

<div th:replace="footer.html :: copy"></div>

<script src="static/scripts/cart.js" defer></script>

</body>
</html>